/* Global variables */
body{
  background-color: #222222;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color:white;
}


#programs img{
    width: 358px;
    height: 667px;
}

a{
    text-decoration: none;
    color: white;
}


/* Header */
header{
    width: 100%;
    height: 69px;
    position: fixed;
    align-items: center;
    z-index: 1;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Nav */
nav{
    text-align: right;
    flex-grow: 1;
    background-color: #333333;
    height: 100px;
}

span{
    margin: 0 8px;
    
}

.logo{
    width: 140px;
    height: 156px;
    position: absolute;
    top: 7px;
    left: 130px;
}

/* Hero */
.hero{
    padding: 428px 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/33/88/a4/3388a496e4fec44885ee6dcc8996ab72.jpg");

}

.hero h1{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: absolute;
    top:580px;
    left: 545px;
}

/* Main */
main{
    position: relative;
    top: 100px;
}

/* Program Section */
#programs{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 358px 358px 358px;
  grid-template-rows: 50px 667px;
  grid-gap: 40px;
  grid-template-areas: "cap1 cap2 cap3"
                       "kickboxing jiujitsu boxing";
  justify-content: center;
  align-items: center;
    
}

.cap1, .cap2, .cap3{
    font-weight: 500;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    font-size: 2em;
    text-align: center;
    color: seashell;
}

.cap1{
    grid-area: cap1;
}
.cap2{
    grid-area: cap2;
}
.cap3{
    grid-area: cap3;
}

.kickboxing{
    grid-area: kickboxing;
}

.kickboxing:hover,
.boxing:hover,
.jiu-jitsu:hover{
    opacity: 0.5;
    cursor: pointer;
}

.boxing{
    grid-area: boxing;
}

.jiu-jitsu{
    grid-area: jiujitsu;
}

/* About Section */
#mission{
    width: 100%;
    margin: 50px 0;    
}

#mission p{
  font-size: 30px;
  padding: 25px;
  width: 50%;
  margin: 100px auto;
  line-height: 40px;
  letter-spacing: 1.7px;
  /* opacity: 0.6; */
  font-weight: 600;
  color: rgb(219, 206, 206);
  background: rgba(161, 18, 2, 0.472);
}

/* Contact Section */
#contact{
    display: grid;
    grid-template-columns: 358px 358px 358px;
    grid-template-rows: 556px;
    grid-gap: 40px;
    grid-template-areas: "info map form";
    justify-content: center;
    align-items: center;
    background: #333333;
}

.business-info{
    grid-area: info;
    line-height: 33px;
    /* text-align: left; */
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.map{
    grid-area: map;
    margin: 0 auto;
    height: 362px;
    width: 362px; 
}

form{
    grid-area: form;
}

form h3{
    text-align: left;
    margin-bottom: 25px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
}

input, #date{
    height: 3.45em;
    width: 350px;
    margin-bottom: 25px;
    border: 1px solid rgba(0,0,0,.3);
    
    font-size: 1rem;
    color: #555;
    
}

/* Footer */
footer{
    background: black;
    width: 100%;
    height: 100px;
    position: relative;
    top: 100px;
}

/* Media queries */